OLD_src/*
/Tabular
cf_parameters.py
*/__pycache__/*
*.pyc
wandb*

src/inner_cross_val_OLD.py

*.LOG
*.OUT
*.out
plots/*
# For the datasets in raw conditions, keep it so that the cleaning is not done again
data/raw/*

# commented to parallelize the execution on multiple machines
# The processed files (results and original data), for the moment commented
*.npz

# For counterfactual generators
# *lgbm.pkl
# *mlp.pkl
# *random_forest.pkl
# *xgboost.pkl

# the plots generated
results/*



# The counterfactuals generated: 
# comment this to see what have you generated locally and upload eventually
# cf_results*

# The rules and trees generated:
*rules_and_trees*

# the non-optimized interptable latent space
not_optimal_ils

# The distances computed
debug/*

# Diffused files for the experiments
time_to_generate.txt
time_to_generate_ils.txt
best_hp.txt

# Other files
ablation*
cmaps.ipynb
L2LoRe.jpg
xRobe.png
xClaraERobe.png
Update the imports.txt
counterfactuals/cf_generators/dice/time_to_generate_dice.txt
counterfactuals/cf_generators/dice/time_to_generate.txt
toy_dataset.pdf

oldresults_deleateable/*
